.transactions {
  width: 65%;
  height: 100%;
}

.heading {
  font-size: 2rem;
  font-family: var(--ubuntu-font-family);
  color: #fff;
}

.cardsFrame {
  padding: 1rem;
  margin-top: 1.2rem;
  height: 90%;
  border-radius: 10px;
  background-color: #fff;
}
