.dashboard {
  height: 35%;
  width: 100%;
  padding: 1rem 3%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  color: #ffffff;
  background-color: #626262;
}

.walletAndExpenses {
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 65%;
}
